<div class="Login-content">
  <label for="userName"><b>Username</b></label>
  <input type="text" placeholder="Enter Username" name="userName" required>

  <label for="psw"><b>Password</b></label>
  <input type="password" placeholder="Enter Password" name="password" required>
  <div class="clearfix">
  <button type="submit" class="Loginbtn">Login</button>
   <!-- Button to open the modal -->
  <button onclick="document.getElementById('id01').style.display='block'" class="signupbtn">Sign Up</button>
</div>

